@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
body {
  margin: 10px 80px;
  background-image: url(assets/nb.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.main {
  padding: 10px 15px;
  max-height: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

h1, h4, ol {
  font-family: "Rye", serif;
  margin: 0;
  padding: 5px 0;
}

h1 {
  font-size: 1.25em;
}

h4 {
  font-size: 0.95em;
}

#postQuest {
  padding: 0;
  border: none;
  background: none;
  height: 20%;
  width: 20%;
}
#postQuest img {
  height: 100%;
  width: 100%;
}

.bottom, .top-comment {
  display: flex;
  color: rgb(83, 28, 28);
  font-size: 0.75em;
}

.top-comment p {
  padding: 0;
  margin: 0;
}

.postAuthor {
  padding-right: 10px;
}

.timestamp {
  padding-right: 10px;
}

.top-bar {
  padding: 0 40px 0 40px;
  text-align: center;
}
.top-bar img {
  height: 80px;
}

.logoImgLink {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topics {
  margin: 0;
  max-height: 70vh;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.poster {
  height: 350px;
  width: 350px;
  background-image: url(assets/p1.png);
  background-size: contain;
}

.posterContents {
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posterContents .bottom {
  color: black;
}

.titleBlock {
  width: 80%;
  height: 65px;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.postContent {
  height: 135px;
  font-family: "Rye", serif;
}

button {
  display: block;
  margin: 10px 0;
}

.commentBox {
  overflow-y: scroll;
  height: 25vh;
}

.comments {
  margin: 20px 0;
}

.comment {
  margin: 10px 0;
}

.comment-content p {
  padding: 0;
  margin: 0;
}

#popUp {
  border: none;
  padding: 1em;
  height: 80%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0);
}
#popUp h1 {
  color: white;
  text-align: center;
  text-shadow: 4px 4px 4px black;
  font-size: 2em;
}
#popUp h4 {
  padding: 5px 10px 5px;
}
#popUp textarea {
  width: 99.5%;
  resize: none;
  background-color: bisque;
}
#popUp #title {
  height: 1em;
}
#popUp #descript {
  height: 4em;
}
#popUp::backdrop {
  background: rgba(0, 0, 0, 0.74);
}

.popUpContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inn {
  background: url(assets/inn.jpg);
  background-size: cover;
  height: 100%;
}

.textInputBlock {
  background-color: rgb(56, 21, 21);
  color: white;
  padding: 10px;
}

.popButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popButtons button {
  margin: 10px;
  padding: 0;
  border: none;
  background: none;
  height: 20%;
  width: 20%;
}
.popButtons button img {
  width: 60%;
}

.threadPoster {
  background: url(assets/p2.png);
  background-size: cover;
  height: 1400;
  width: 1000;
}

.threadContents {
  padding: 100px 200px;
}

.commentInputBlock {
  display: flex;
  align-items: center;
}

#commentInput {
  resize: none;
  width: 70%;
  height: 4em;
  background-color: bisque;
}

#commentButton {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  height: 20%;
  width: 20%;
}
#commentButton img {
  width: 60%;
}

@media only screen and (max-device-width: 480px) {
  .top-bar {
    margin: 30px;
  }
  #postQuest {
    text-align: center;
    padding: 20px 0;
    height: 50%;
    width: 100%;
  }
  #postQuest img {
    height: 50%;
    width: 50%;
  }
  .topics {
    align-items: center;
    flex-direction: row;
    max-height: 75vh;
    width: 90%;
  }
  .poster {
    height: 800px;
    width: 800px;
  }
  .posterContents {
    margin: 0;
    padding: 100px;
  }
  .titleBlock {
    width: 80%;
    height: 120px;
    word-wrap: break-word;
    margin-bottom: 45px;
  }
  .titleBlock h1 {
    font-size: 2.25em;
  }
  .postContent {
    height: 350px;
  }
  .bottom p {
    font-size: 2em;
  }
  #popUp h4 {
    font-size: 2em;
  }
  #popUp textarea {
    font-size: 2em;
  }
  #popUp #title {
    height: 2em;
  }
  #popUp #descript {
    height: 6em;
  }
  main {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .inn {
    background: url(assets/inn-m.jpg);
    background-size: cover;
    height: 100%;
  }
  .popUpContainer {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .popButtons button {
    height: 50%;
    width: 50%;
  }
  .popButtons button img {
    width: 100%;
  }
  .threadPoster {
    background: url(assets/p2.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  body {
    margin: 0;
  }
  .main {
    max-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 3em;
  }
  .postContent {
    font-size: 1.8em;
  }
  .threadContents {
    padding-left: 150px;
    padding-right: 100px;
  }
  #commentInput {
    width: 100%;
    height: 4em;
    font-size: 2em;
  }
  #commentButton {
    height: 25%;
    width: 25%;
  }
  #commentButton img {
    width: 100%;
  }
  .comments {
    font-size: 1.5em;
  }
  .commentBox {
    overflow-y: scroll;
    height: 30vh;
  }
}/*# sourceMappingURL=style.css.map */