body{
    margin: 10px 60px;
}

a{
    text-decoration: none;
    color: black;
}

h1, h4, ol{
    margin: 0;
}

.bottom, .top-comment{
    display: flex;
    color: gray;
    font-size: 12px;
}


.postAuthor{
    padding-right: 10px;
} 

.timestamp{
    padding-right: 10px;
}

.top-bar{
    background-color: rgb(15, 64, 107);
    color: white;
    padding-left: 40px;
}

.row{
    padding: 5px 0;
}

.main{
    background-color:blanchedalmond;
    padding: 10px 15px;
}

textarea{
    width: 80%;
    height: 80px;
}

button{
    display: block;
    margin: 10px 0;
}

.comment{
    margin: 10px 0;
}

.comments{
    margin: 40px 0;
}

.newPost{
    margin: 0 0 0 80px;
}

#popUp{
        padding: 1em;
        height: 80%;
        width: 80%;

    h4{
        padding: 5px 10px 5px;
    }

    textarea{
        width: 100%;
    }

    #title{
        height: 1em;
    }

    #descript{
        height: 4em;
    }
}